#1.The name of the stage or job, 2.the number of workers in that stage, 3.how many items that worker can hold
#Enter a negative number for the number of items if it doesnt matter, 4. True if this worker works with orders rather
#than items.
Chef,1,90,true
Oven,1,50,false
Glazer,1,50,false
Driver,1,50,true